#aDivAttribute{
    font-size: 25px;
}
.myFirstClass{
    font-size:30px;
}
a[href^="https"]{
    color:green;
}
a[href$="Selector"]
{
    color: yellow;
}
a[href*="css-tricks"]
{
    color: black;
}
a[href$="html"]
{
    color: cyan;
}
h1
{
    background-color: grey;
}
body p
{
    background-color: red;
}
div > p
{
    background-color: green;
}
div ~ p
{
    background-color: yellow;
}
div + p
{
    background-color: pink;
}
a
{
    text-decoration: none;

}